################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vshistory
/bugs
/.vs
/test_tools/uploads
/.idea
